@import 'fonts.css';
:root{
    /* colors */
    --green-dark: #4e9f0d;
    --green: #62be19;
    --green_75: rgba(99, 190, 25, 0.75);
    --green_90: rgba(99, 190, 25, 0.90);
    --gray:#7a7a7a;
    --gray-light: #dedede;
    --white: #ffffff;
    --dark: #060002;
    /* fonts */
    --f100: 'Raleway-Thin';
    --f300: 'Raleway-Light';
    --f400: 'Raleway-Regular';
    --f700: 'Raleway-Bold';
    --f900: 'Raleway-Black';
    --rb: 'Roboto-Bold';
    /* colos */
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: calc(100% / 12 * 12);
  /*   sizes */
  --xl:1200px;
    --lg:992px;
    --md:768px;
    --sm:576px;
    --xs:320px;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--f400);
    color: inherit;

}
img{
    width: 100%;
    height: auto;
}
/* greed */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  
}
.col{
    width: auto;
    padding: 0 15px;
}
.col-1{
    width: var(--col-1);
    padding: 0 15px;
}
.col-2{
    width: var(--col-2);
    padding: 0 15px;
}
.col-3{
    width: var(--col-3);
    padding: 0 15px;
}
.col-4{
    width: var(--col-4);
    padding: 0 15px;
}
.col-5{
    width: var(--col-5);
    padding: 0 15px;
}
.col-6{
    width: var(--col-6);
    padding: 0 15px;
}
.col-7{
    width: var(--col-7);
    padding: 0 15px;
}
.col-8{
    width: var(--col-8);
    padding: 0 15px;
}
.col-9{
    width: var(--col-9);
    padding: 0 15px;
}
.col-10{
    width: var(--col-10);
    padding: 0 15px;
}
.col-11{
    width: var(--col-11);
    padding: 0 15px;
}
.col-12{
    width: var(--col-12);
    padding: 0 15px;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
}